h1, h2, h3, h4, h5, h6 {
  color: #58180d;
}

/* End fancy decorations */

/* Spell lists */
dl.spell-slots {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
h3.spell-list-level {
    margin-bottom: 0.5em;
}
ul.spell-list {
  list-style-type: none;
  padding-left: 1em;
  margin: 0;
}
ul.spell-list li {
    overflow: visible;
    padding-left: 17px;
    position: relative;
}
ul.spell-list a {
    /* Make spell list entries not look like links */
    color: inherit;
    text-decoration: inherit;
}
ul.spell-list li.prepared:before {
    content: '\2713';
    position: absolute;
    left: 0;
}

/* Spell descriptions */
.spell-school {
    font-style: italic;
}

/* Dictionary lists for showing stats, etc */
dl.details dt {
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
}
dl.details dt::after {
    content: ":";
}
dl.details dd {
    padding: 0 0 0.5em 0;
}
[% for class, width in dl_widths.items() %]
dl.[[ class ]] dt {
    width: [[ width ]]em;
}
dl.[[ class ]] dd {
    width: auto;
    margin: 0 0 0 [[ width + 0.5 ]]em;
}
[% endfor %]

/* For showing beasts */
.known-beast-disabled {
    color: lightgrey;
}

/* Errors in rst conversion or missing content */
.not-implemented {
    font-weight: bold;
    color: darkred;
    background: pink;
}
div.system-message {
  background: pink;
  border-color: darkred;
  border-style: solid;
  border-width: 2px;
  color: darkred;
}

/* General formatting */
table {
  margin-bottom: 10px;
}

th {
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

td {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

dt {
  font-weight: bold;
}

dd > p {
  margin-top: 0px;
}

.literal {
    font-family: monospace;
}
