h1, h2, h3, h4, h5, h6 {
  color: #58180d;
}
/* End fancy decorations */

table {
  margin-bottom: 10px;
}

th {
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

td {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

dt {
  font-weight: bold;
}

dd > p {
  margin-top: 0px;
}

div.system-message {
  background: pink;
  border-color: red;
  border-style: solid;
  border-width: 2px;
  color: red;
}
.literal {
    font-family: monospace;
}
