[submodule "dungeonsheets/modules/DND-5e-LaTeX-Template"]
	path = dungeonsheets/modules/DND-5e-LaTeX-Template
	url = https://github.com/rpgtex/DND-5e-LaTeX-Template.git
[submodule "dungeonsheets/modules/DND-5e-LaTeX-Character-Sheet-Template"]
	path = dungeonsheets/modules/DND-5e-LaTeX-Character-Sheet-Template
	url = https://github.com/matsavage/DND-5e-LaTeX-Character-Sheet-Template
